body {
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

.triangle-up {
    width: 0;
    height: 0;
    margin: auto;
}

.triangle-up-first-menu {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid;
    border-bottom-color: #0094CD;
    display: none;
}

.triangle-up-second-menu {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid white;
    padding-top: 10px;
}

.header-wrapper {
    display: flex;
    background-color: #404040;
}


.header-menu {
    display: flex;
    font-size: 24px;
    font-weight: 200;
}
/* making first tab Bold */
.header-menu .adm_tab:first-child .adm_tab_label {
  font-weight: 700;
}

.adm_tab {
    color: white;
    cursor: pointer;
}

.adm_tab .adm_tab_label {
    opacity: .5;
}

.adm_tab:hover .adm_tab_label {
    opacity: 1;
}


.adm_tab .adm_tab_label {
}


.header-menu .adm_tab .adm_tab_label {
      margin: 1.4em .85em .7em .85em;
}

.second-menu .adm_tab .adm_tab_label {
    margin: .7em  1em .2em  1em;

    font-weight: 500;
}
