

/*
.second-menu-wrapper {
    min-height: 50px;
}
*/


/*
.second-menu>div {
    padding-right: 5%;
}

.second-menu>div:hover {
    cursor: pointer;
}

.second-menu-triangle {
    padding-top: 6px;
}
*/
